body {
    /* height: 100vh;
      width: 100vw; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
  }

  #game-board {
    background-color: #ccc;
    width: 70vmin;
    height: 70vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
  }

  .gameboard-container {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .snake {
    background-color: hsl(200, 100%, 50%);
    border: 0.25vmin solid black;
  }

  .snake:nth-child(1) {
    background-color: red;
  }

  .food {
    background-color: hsl(50, 100%, 50%);
    border: 0.25vmin solid black;
  }

  .difficulty {
    position: absolute;
    color: chartreuse;
    text-align: center;
    display: block;
  }

  button {
    background-color: #ccc;
    border: none;
    font-size: 2rem;
    margin: 2rem;
  }

  button:hover {
    color: white;
    cursor: pointer;
  }